/* Styles go here */

.jumbotron {
  background-color: #5cb85c;
  border-bottom: 1px solid black;
  color:white
}

#myDiv {
    margin: 15px;
    font-size: 200%;
    padding: 50px 0px 50px 15px;
    max-height: 150px;
    height:150px;
    background-color: #ededed;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
